<!DOCTYPE html>
<html lang="en">
<head>
	<title>Auto Routing</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="shortcut icon" href="">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/util.css') }}">
	<link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='css/main.css') }}">
<!--===============================================================================================-->

</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form id="form_pred" class="contact100-form validate-form" method="post" action="/api">
				<span class="contact100-form-title">
					Support Tickets Classification
				</span>

				<div class="wrap-input100 validate-input" data-validate="Ticket Decsription is required>
					<span class="label-input100">Ticket Description</span>
					<input class="input100" type="text" id="ticketdescription" name="ticketdescription">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Location is required">
					<span class="label-input100">Location</span>
					<input class="input100" type="text" id="location" name="location">
					<span class="focus-input100"></span>
				</div>


				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button onclick="myFunction()" id="predict" class="contact100-form-btn">
							<span>
								Get Assignment Group 
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script>
		function myFunction() {
		var ticketdescription = document.getElementById("ticketdescription").value;
		var location=document.getElementById("location").value;
		var data = {"ticketdescription":ticketdescription, "location":location};
		$.post("api", data, function(){
		
		});
		event.preventDefault();

		}
	</script>

</body>
</html>
